body {
  background-color: #000 !important;
  color: #fff !important;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* custom scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 black;
  box-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #eb0029;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

/* #primary {
  margin-right: 4%;
  position: relative;
  background-color: #fff;
} */

#about-section {
  text-align: center;

}

.home-button {
  position: fixed;
  padding: 3% 0 0 93%;

}

.home-button:hover {

  background-image: url("images/user.png")
  /* display: block; */
}

.top_line {
  background-color: #eb0029;
  padding: 0.1rem;
  position: fixed;
  width: 100%;

}
.primary-left {
  text-align: center;
  margin: 13% 0 8% 0;

}
.primary-right {
  text-align: center;
  margin: 13% 0 8% 0;

}

.row {
  padding: 2% 5% 5%;
  /* background-color: #fff; */


}
.quote {
  /* width: 80%; */
  font-family: "Cookie";
  font-size: 3.2rem;
  line-height: 1.5;

}

.primary-line-img {
  text-align: center;
  opacity: 70%;

}
.primary-border {
  padding-top: 7%;
  text-align: center;

}

.first-greetings {
  font-size: 4rem;
  font-family: "Cookie";
}

.p_buttons {
  /* position: relative; */
  transition: 5s;


}

.p_buttons:hover {
  /* transform: scale(1.2); */
    border-radius: 10px;
  box-shadow: 0px 2px 30px 5px #ca8a8b;

}
.all_buttons {

  padding-top: 1.1rem;
}

.dragon {
  width: 60%;
  transition: .3s;
}

.dragon:hover {
  transform: scale(1.2);
}


/* about section css */


.user_image {
  image-rendering: auto;
  image-resolution: 80dpi;
  border-radius: 50%;
  height: 250px;
  border-width: 5px;
  border-style: outset;
  border-left-color: #eb0029;
  border-top-color: #eb0029;
  border-right-color: #fff;
  border-bottom-color: #fff;
  transition: .3s;

}
.user_image:hover {
  /* border-left-color: #ff005c;
  border-top-color: #ff005c;
  border-bottom-color: #f0c929;
  border-right-color: #f0c929; */
  /* transform: scale(1.1); */
  box-shadow: 5px 5px 40px 5px #fb3640;


}

.about_subhead {
  font-size: 3.7rem;
  padding: 4% 0;
  font-family: "Josefin Sans";


}

.about-short {
  margin: 0% 10% 3%;
  font-size: 1.5rem;
  font-family: "Jost";
}

.about-text {
  font-size: 1.5rem;
  text-align: center;
  padding: 0% 10% 8%;
  line-height: 2;
  font-family: Jost, sans-serif;
}

/* Skills section css ahead */

#skills {

}

.skills_subhead {
  padding: 4%;
  font-size: 3.7rem;
  text-align: center;
  font-family: "Josefin Sans"
}

.pro {
  color: #fb3640;
}

.sub-headings{
  font-size: 2.7rem;
  padding: 3% 0 5% 7%;
  font-family: "Questrial";
}

/* c++ Section */

.blocks {
  text-align: center;
  padding-left: 30%;
  padding-bottom: 5%;
}

.head {
  font-size: 2.7rem;
  text-align: left;
  height: 10px;
}

.left_logo {
  width: 17%;
  float: left;
  padding-right:1.2rem;

}
.c_paragraph {
  font-size: 1.3rem;
  text-align: left;
  width: 70%;
  line-height: 2;
  font-family: Jost, sans-serif;
}

/* python section */

.right_logo {
  float: right;
  width: 165px;
  margin-right: 27%;
  padding-top: 3%;
}

.p_paragraph {
  font-size: 1.3em;
  text-align: left;
  width: 60%;
  line-height: 2;
  font-family: Jost, sans-serif;
}

/* Web development section */

.h_paragraph {
  font-size: 1.3em;
  text-align: left;
  width: 70%;
  line-height: 2;
  font-family: Jost, sans-serif;
}


/* Operating System section */

#os-section {
  /* background-color: #000;
  color: #fff; */
}

.sub-heading {
  padding: 5% 0 0% 7%;
  font-size: 3rem;
}

.row {
  padding: 5% 3% 3%;
}

.os-paragraph {
  font-size: 1.3em;
  text-align: left;
  width: 70%;
  margin-left: 20%;
  font-family: Jost, sans-serif;
  padding-bottom: 13%;
}

/* contact section */

.contact-div {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-color: #eb0029;
  padding: 7% 0;
  text-align: center;
}

.bottom_touch {
  font-size: 1.5rem;
  padding-bottom: 1%;
}

.mail {
  font-size: 1rem;
}



.proud {
  font-size: 2.5rem;
  font-family: "Cookie"

}

.under-dev {

  color: #f3bda1;
  font-size: 1rem;
}

.dotted-line {
    border-style: none;
    border-top: groove;
    border-width: 7px;
    border-color: grey;
    width: 30%;
    padding: 3% 0;
    transition-duration: .2s;
}

.dotted-line:hover {
  transform: scale(1.1);
}

/* Hobbies Section */


.hobb_subhead {
  padding: 4% 0 4% 0;
  text-align: center;
  font-size: 3.7rem;
  font-family: "Josefin Sans";
}

.photography {
  padding: 3% 0 0 7%;
  font-size: 2.7rem;
  font-family: "QUestrial";

}

.snaps-overload {
  padding-top: 4%;
  text-align: center;
}

.snaps {
  image-rendering: auto;
  image-resolution: 100dpi;
  transition: 1s;
  width: 93%;
  transition-duration: .3s;
  filter: grayscale(100%) opacity(97%);
  /* filter: opacity(70%); */
  border-style: groove;
  border-radius: 1rem;
  border-color: #eb0029;
  border-width: 4px;
  /* position: relative; */
  /* display: block; */

}

.snaps:hover {
  transform: scale(1.1);
  filter: drop-shadow(5px 3px 18px #fb3640) grayscale(0) opacity(100%);
  /* filter: opacity(100%); */

}

.picture-discription {
  padding-top: 1.5rem;
  transition: 1s;
  transition-duration: 0.7s;
  font-size: 1.4rem;
  font-family: "Niconne";

}

.picture-discription:hover {
  transform: scale(1.2);
}

/* .floating-text {
  opacity: 0;
        font-size: 40px;
        position: absolute;
        top: 0;
        left: 0;
        color: #1c87c9;
        background-color: rgba(200, 200, 200, 0.5);
        width: 300px;
        height: 300px;
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        transition: all 400ms ease-out;
        text-align: center;

} */

.photography-quote {
  text-align: center;
  font-size: 3rem;
  font-family: "Cookie";
  padding: 7% 3% 5%;

}

.photography-journey {
  font-size: 2.7rem;
  text-align: center;
  padding-bottom: 1rem;
}

.photography-para {
  font-size: 1.5rem;
  line-height: 1.7;
  font-family: "Jost";
  padding-top: 3%;

}


.photography-row {

  border-style: outset;
  border-width: thin;
  border-color: #fb3640;


}

.camera {
  width: 60%;
  padding-bottom: 3%;

}

.photo-span {
  padding: 10% 0 2% 3%;

}

.head-photos {
  text-align: center;
  font-size: 3.4rem;
  padding: 5% 0 0 0;
  font-family: "Josefin Sans";
}
.getintouch {
  font-family: "Josefin Sans";
  font-size: 1.4rem;
}

/* Mobile version optimization */

@media (max-width: 1028px) {
  .blocks .left_logo {
    width: 28%;
    padding: 3% 0 0 1%;
  }
  .blocks .right_logo {
    width: 28%;
    padding: 5% 0 0 1%;
    margin: 0;
  }

  .c_paragraph{
    padding: 0;
    margin: 0;
    width: 95%;
  }

  .blocks {
    padding-top: 8%;
    padding-left: 5%;
  }

  .p_paragraph {
    padding: 0;
    margin: 0;
    width: 95%;
  }

  .h_paragraph {
    padding: 0;
    margin: 0;
    width: 95%;
  }

  .camera {
    width: 40%;
  }

  .primary-line-img {
    transform: rotate(90deg);
    padding: 0;
    margin: 0;

}

  .photography-para {
    text-align: center;
  }

  .home-button {
    padding: 4% 3% 0 85%;


  }
}
